html{
    height: 100%;
}
body{
    image-rendering: auto;
    background-image:url('bg.PNG');  /* fallback for old browsers */
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    margin:0px;
    padding:0px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.body-color{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: -1;
    float: left;
    -moz-box-shadow:    inset 0 0 100px #000000;
    -webkit-box-shadow: inset 0 0 100px #000000;
    box-shadow:         inset 0 0 100px #000000;
}
#logo_img{
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -webkit-animation: fadein-top 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein-top 3s; /* Firefox < 16 */
    -ms-animation: fadein-top 3s; /* Internet Explorer */
    -o-animation: fadein-top 3s; /* Opera < 12.1 */
    animation: fadein-top 3s;
    display: block;
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -25px;
    cursor: pointer;
}
#changelog{
    color: white;
}
#scrollbox{
    min-width: 400px;
    width: 500px;
    height: 300px;
    overflow:scroll;
    background-color: rgba(100,100,100,0.3)
}
#header{
    width: 100%;
    text-align: left;
    overflow: hidden;
}
#content{
    background: rgba(0,0,0,0);
    -webkit-animation: fadein-wait 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein-wait 3s; /* Firefox < 16 */
    -ms-animation: fadein-wait 3s; /* Internet Explorer */
    -o-animation: fadein-wait 3s; /* Opera < 12.1 */
    animation: fadein-wait 3s;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 200px;
}
#subheader{
    color: #888;
    width: 40%;
    text-align: left;
    margin-bottom: 50px;
    margin-left:40px;
    font-size: 23px;
}
.carousel{
    margin: 50px auto;
    width: 700px;
}
.s{
    background-color: white;
}
.button{
    margin-left: 40px;
    color: #888;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    transition-duration: 200ms;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;

}
.button:hover{
    transition-duration: 200ms;
    padding-left: 20px;
    color: white;
}

.resp-container {
    position: relative;
    overflow: hidden;
	padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}